.darkmode {
  background-color: black;
  color: white;
}

.darkmode a,
.darkmode button {
  color: white;
}

.darkmode .dropdown-content button {
  background-color: black;
}

.high-contrast {
  filter: contrast(4);
}

.grayscale {
  filter: saturate(0);
}
