.page-wrap {
  width: 98%;
  margin: 0 auto;
  transform: translateY(10rem);
}

.page-flex-wrap {
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin: 0 auto;
}

.mobile-title {
  display: none;
}

@media screen and (max-width: 480px) {
  .page-wrap {
    transform: none;
    width: 100%;
  }

  .page-flex-wrap {
    display: block;
    width: 100%;
  }

  .mobile-title {
    display: block;
  }
}
