@import 'variables.css';
@import 'common.css';
@import 'accessibility.css';

body,
html {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100%;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  font-family: 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  font-size: 5rem;
}

p {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
}
