.projects {
}

.project {
  display: inline-block;
  margin: 0 6rem 6rem 0;
  width: auto;
  transition: all ease-in-out 0.4s;
}

.project .project-details {
  font-size: 1.6rem;
  transition: all ease-in-out 0.4s;
}

.project.active {
  /* width: 100vw;
  height: 100vw; */
}

.project.inactive {
  margin: 0;
}

.project.active {
  display: flex;
}

.project.inactive .project-details,
.project.active .project-details {
  font-size: 0;
}

.project img {
  width: 8rem;
  transition: all ease-in-out 0.4s;
  cursor: pointer;
}

.project.inactive img {
  width: 0;
}

.project.active img {
  width: 40vw;
}

.active-project-details {
  padding-left: 3rem;
}

.active-project-details span {
  font-family: Arial, Helvetica, sans-serif;
}

.active-project-details p,
.active-project-details a,
.active-project-details h3 {
  font-size: 0;
  margin: 0;
  transition: all ease-in-out 0.4s;
}

.project.active .active-project-details p,
.project.active .active-project-details a {
  font-size: 4rem;
  height: auto;
  width: auto;
}

.project.active .active-project-details h3 {
  font-size: 6rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.active-project-details a:hover {
  font-style: italic;
}

.streaming,
.release-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.release-info {
  margin-top: 1rem;
}

.streaming {
  margin-bottom: 1rem;
}

.credit {
  font-size: 0;
}

.project.active .credit {
  text-align: justify;
  font-size: 4rem;
}

.credit:after {
  content: '';
  display: inline-block;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .project.active {
    margin: 0;
  }

  .project-details {
    display: none;
  }

  .project.active {
    display: block;
  }

  .project.active img {
    width: 100vw;
  }

  .active-project-details {
    padding-top: 1rem;
    padding-left: 4%;
    width: 92%;
  }

  .project.active .active-project-details h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .project.active .active-project-details p,
  .project.active .active-project-details a,
  .project.active .credit {
    font-size: 2rem;
  }
}
