.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  gap: 6rem;
  position: relative;
}

.project {
  position: relative;
  width: 8rem;
  transform-origin: center;
  z-index: 1;
}

.project.active {
  position: absolute;
  width: 100%;
  display: flex;
  z-index: 2;
  transform: translate(var(--original-x, 0), var(--original-y, 0));
  animation: moveToLeft 0.4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.project.closing {
  position: absolute;
  width: 8rem;
  z-index: 2;
  animation: moveToOriginal 0.4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes moveToLeft {
  from {
    transform: translate(var(--original-x, 0), var(--original-y, 0));
  }
  to {
    transform: translate(0, 0);
  }
}

@keyframes moveToOriginal {
  from {
    transform: translate(0, 0);
    width: 100%;
  }
  to {
    transform: translate(var(--original-x, 0), var(--original-y, 0));
    width: 8rem;
  }
}

.project.inactive {
  opacity: 0;
  margin: 0;
  transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.project-details {
  font-size: 1.6rem;
  /* transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1); */
}

.project.inactive .project-details,
.project.active .project-details {
  font-size: 0;
}

.project img {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.project.inactive img {
  width: 8rem;
}

.project.active img {
  width: 40vw;
  height: 40vw;
}

.active-project-details {
  padding-left: 3rem;
  opacity: 0;
  transform: translateX(-20px);
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
}

.project.active .active-project-details {
  opacity: 1;
  transform: translateX(0);
  visibility: visible;
}

.active-project-details span {
  font-family: Arial, Helvetica, sans-serif;
}

.active-project-details p,
.active-project-details a,
.active-project-details h3 {
  font-size: 0;
  margin: 0;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.project.active .active-project-details p,
.project.active .active-project-details a {
  font-size: 4rem;
  height: auto;
  width: auto;
}

.project.active .active-project-details h3 {
  font-size: 6rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.active-project-details a:hover {
  font-style: italic;
}

.streaming,
.release-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.release-info {
  margin-top: 1rem;
}

.streaming {
  margin-bottom: 1rem;
}

.credit {
  font-size: 0;
}

.project.active .credit {
  text-align: justify;
  font-size: 4rem;
}

.credit:after {
  content: '';
  display: inline-block;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .projects {
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    gap: 2rem;
  }

  .project.active {
    margin: 0;
    display: block;
  }

  .project-details {
    display: none;
  }

  .project.active img {
    width: 100vw;
    height: 100vw;
  }

  .active-project-details {
    padding-top: 1rem;
    padding-left: 4%;
    width: 92%;
  }

  .project.active .active-project-details h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .project.active .active-project-details p,
  .project.active .active-project-details a,
  .project.active .credit {
    font-size: 2rem;
  }
}
